<mat-card class="example-card w-100 mx-auto shadow">
  <mat-card-header>
    <mat-card-title class="d-block text-center">
      <div class="row">
        <div class="col-1">
          <app-button
            [texto]="buttonCancel.texto"
            [color]="buttonCancel.color"
            [type]="buttonCancel.type"
            (evento)="btnCancel()"
          ></app-button>
        </div>
        <div class="col-10">
          <h2>{{ title }}</h2>
        </div>
      </div>
    </mat-card-title>
    <!-- <mat-card-subtitle [innerHTML]="subtitle | sanitizeHtml"></mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <app-input
          [formParent]="formNewBook"
          [label]="inputTitulo.text"
          [placeholder]="inputTitulo.place"
          [required]="inputTitulo.required"
          [name]="inputTitulo.name"
          [type]="inputTitulo.type"
        ></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-input
          [formParent]="formNewBook"
          [label]="inputDescription.text"
          [placeholder]="inputDescription.place"
          [required]="inputDescription.required"
          [name]="inputDescription.name"
          [type]="inputDescription.type"
          [rows]="inputDescription.rows"
        ></app-input>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <app-input
          (click)="setAutor()"
          [formParent]="formNewBook"
          [label]="inputAutor.text"
          [placeholder]="inputAutor.place"
          [required]="inputAutor.required"
          [name]="inputAutor.name"
          [type]="inputAutor.type"
          [readonly]="inputAutor.readonly"
          [value]="autor?.nombre"
        ></app-input>
      </div>
      <div class="col-12 col-md-3">
        <app-button
          [texto]="buttonAutor.texto"
          [color]="buttonAutor.color"
          [type]="buttonAutor.type"
          (evento)="setAutor()"
        ></app-button>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <app-select
          [formParent]="formNewBook"
          [label]="selectAnio.label"
          [name]="selectAnio.name"
          [required]="selectAnio.required"
          [options]="selectAnio.options"
        ></app-select>
      </div>
      <div class="col-12 col-md-4">
        <mat-checkbox
          class="example-margin"
          [checked]="chk.checked"
          [color]="chk.color"
          (change)="chkSet($event.checked)"
        >
          {{ chk.name }}
        </mat-checkbox>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-button
      [texto]="buttonSave.texto"
      [color]="buttonSave.color"
      (evento)="saveBook()"
    ></app-button>
  </mat-card-actions>
</mat-card>
